*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.header-container{
    display: flex;
    flex-direction: row;
}

header{
    background-color: hotpink;
    flex-wrap: wrap;
    height:10vh;
    min-width:20vw;
}
nav{
    background-color: lawngreen;
    height:10vh;
    min-width:80vw;
}
main{
    display:flex;
    flex-direction: row-reverse;
    height: 80vh;
    min-width: 100vw;
}

.main-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:80vw;
}

section{
    background-color: lightseagreen;
    height:50%;
    min-width: 80vw;
}

article{
    background-color: limegreen;
    height: 50%;
    min-width: 80vw;
}

aside{
    background-color: mediumaquamarine;
    min-width: 20vw;
}

footer{
    background-color: orange;
    height:10vh;
    width: 100%;
}